<div class="card text-center">
    <div class="card-header">
      <app-header titulo="{{'paginas.recomendacion-perfil.titulo' | translate }}" (eventIdioma)="onClickActualizarIdioma($event)" nameButtonBack="{{
        'paginas.comunes.volver-inicio' | translate }}"></app-header>
    </div>
    <div class="card-body">
      <div class="alert alert-warning" role="alert" *ngIf="lstRecomendationsTrait.length==0">
        {{ "paginas.recomendacion-perfil.mensaje-no-tiene-registro" | translate }}
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
          *ngFor="let item of lstRecomendationsTrait"
        >
          <app-cards
            titulo="{{ item.recommendation_trait?.effect_heading }}"
            subtitle=""
            descripcion="{{ item.recommendation_trait?.general_description }}"
            [responseRecomendationTrait]="item"
          ></app-cards>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <app-footer></app-footer>
    </div>
  </div>
  