<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ titulo }}</h5>
    <h5 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h5>
  </div>
  <div class="card-body">
    
    <form class="form-floating" *ngIf="responseRecomendation.recommendation.recommendation_type">
      <input disabled type="email" class="form-control" id="floatingInputValue"
        [value]="responseRecomendation.recommendation.recommendation_type">
      <label for="floatingInputValue">{{ 'paginas.recomendacion.tipo-recomendacion' |
        translate }}</label>
        <br>
    </form>
    <img class="card-img-top" src="{{ image }}" />
    <p class="card-text" *ngIf="descripcion !=''" [innerHTML]="descripcion"></p>
    <form class="form-floating" *ngIf="responseRecomendation.total_score">
      <input disabled type="email" class="form-control" id="floatingInputValue"
        [value]="responseRecomendation.total_score">
      <label for="floatingInputValue">{{ 'paginas.recomendacion.puntaje-total' |
        translate }}</label>
        <br>
    </form>
    <form class="form-floating" *ngIf="responseRecomendation.effect">
      
      <h5 >{{ 'paginas.recomendacion.efecto' |
        translate }}</h5>
        <div class="progress" *ngIf="responseRecomendation.effect">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{responseRecomendation.effect*100}}%" aria-valuenow="8" aria-valuemin="8" aria-valuemax="10"></div>
        </div>
        
        <br>
    </form>
    <form class="form-floating" *ngIf="responseRecomendation.evidence">
      <h5 >{{ 'paginas.recomendacion.evidencia' |
        translate }}</h5>
        <div class="progress" *ngIf="responseRecomendation.evidence">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{responseRecomendation.evidence*100}}%" aria-valuenow="8" aria-valuemin="8" aria-valuemax="10"></div>
        </div>
       
        <br>
    </form>

    <form class="form-floating" *ngIf="responseRecomendationTrait.recommendation_trait.initial_score">
      <input disabled type="email" class="form-control" id="floatingInputValue2"
        [value]="responseRecomendationTrait.recommendation_trait.initial_score">
      <label for="floatingInputValue2">{{ 'paginas.recomendacion-perfil.puntacion-inicial' |
        translate }}</label>
        <br>
    </form>
    <form class="form-floating" *ngIf="responseRecomendationTrait?.total_score">
      <input disabled type="email" class="form-control" id="floatingInputValue"
        [value]="responseRecomendationTrait.total_score">
      <label for="floatingInputValue">{{ 'paginas.recomendacion-perfil.puntaje-total' |
        translate }}</label>
        <br>
    </form>
    <form class="form-floating" *ngIf="responseRecomendationTrait?.recommendation_trait?.effect">
      <h5 >{{ 'paginas.recomendacion-perfil.efecto' |
        translate }}</h5>
        <div class="progress" *ngIf="responseRecomendationTrait?.recommendation_trait?.effect">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{responseRecomendationTrait.recommendation_trait.effect*100}}%" aria-valuenow="8" aria-valuemin="8" aria-valuemax="10"></div>
        </div>
        <br>
    </form>
    <form class="form-floating" *ngIf="responseRecomendationTrait?.recommendation_trait?.evidence">
      <h5>{{ 'paginas.recomendacion-perfil.evidencia' |
        translate }}</h5>
        <div class="progress" *ngIf="responseRecomendationTrait?.recommendation_trait?.evidence">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{responseRecomendationTrait.recommendation_trait.evidence*100}}%" aria-valuenow="8" aria-valuemin="8" aria-valuemax="10"></div>
        </div>
        <br>
    </form>
  </div>
  <div class="card-footer"
    *ngIf="(responseRecomendationTrait?.satisfied_conditions?.length != undefined && responseRecomendationTrait?.satisfied_conditions?.length != 0) || (reponseProfileTrait?.trait?.feedback_choices?.length != undefined && reponseProfileTrait?.trait?.feedback_choices?.length != 0) || (reponseProfileTrait?.trait?.text != undefined) && (reponseProfileTrait?.trait?.disclaimer != undefined) || (reponseProfileTrait?.trait?.gauge_labels?.length != undefined && reponseProfileTrait?.trait?.gauge_labels?.length != 0) || responseRecomendation?.recommendation?.generic_text !=''">
    <div class="row">
      <button type="button" class="btn btn-outline-primary" data-bs-target="#dialogDetalleRecomen"  data-bs-toggle="modal"
        *ngIf="responseRecomendation?.recommendation?.generic_text  != undefined && responseRecomendation?.recommendation?.generic_text !=''"
     (click) ="onClickEvento(responseRecomendation)">
        {{ 'paginas.comunes.boton-detalle' |
        translate }}
      </button>

      <button type="button" class="btn btn-outline-primary" data-bs-target="#dialogDetalleRecomenTrait"  data-bs-toggle="modal"
        *ngIf="responseRecomendationTrait?.recommendation_trait?.general_description  != undefined && responseRecomendationTrait?.recommendation_trait?.general_description !=''"
     (click) ="onClickEvento(responseRecomendationTrait)">
        {{ 'paginas.comunes.boton-detalle' |
        translate }}
      </button>

      <button type="button" class="btn btn-outline-primary" data-bs-target="#dialogDetalleProfile"  data-bs-toggle="modal"
        *ngIf="reponseProfileTrait?.personalized_text  != undefined && reponseProfileTrait?.personalized_text !=''"
     (click) ="onClickEvento(responseRecomendation)">
        {{ 'paginas.comunes.boton-detalle' |
        translate }}
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        *ngIf="responseRecomendationTrait?.satisfied_conditions?.length != undefined && responseRecomendationTrait?.satisfied_conditions?.length != 0"
        data-bs-target="#dialogCondiciones"
        (click) ="onClickEvento(responseRecomendationTrait)">
        {{ 'paginas.recomendacion-perfil.boton-ver-condiciones' |
        translate }}
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        *ngIf="reponseProfileTrait?.trait?.text != undefined" data-bs-target="#dialogRasgo"
        (click) ="onClickEvento(reponseProfileTrait)">
        {{ 'paginas.rasgo-perfil.boton-rasgo' |
        translate }}
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        *ngIf="reponseProfileTrait?.trait?.feedback_choices?.length != undefined && reponseProfileTrait?.trait?.feedback_choices?.length != 0"
        data-bs-target="#dialogOpcionesRetroa"
        (click) ="onClickEvento(reponseProfileTrait)">
        {{ 'paginas.rasgo-perfil.boton-opciones-retroalimentacion' |
        translate }}
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        *ngIf="reponseProfileTrait?.trait?.disclaimer != undefined && reponseProfileTrait?.trait?.disclaimer != ''" data-bs-target="#dialogDescargoResponsa"
        (click) ="onClickEvento(reponseProfileTrait)">
        {{ 'paginas.rasgo-perfil.boton-descargo-responsabilidad' |
        translate }}
      </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        *ngIf="reponseProfileTrait?.trait?.gauge_labels?.length != undefined && reponseProfileTrait?.trait?.gauge_labels?.length != 0"
        data-bs-target="#dialogEtiquetaCalibre"
        (click) ="onClickEvento(reponseProfileTrait)">
        {{ 'paginas.rasgo-perfil.boton-etiqueta-calibre' |
        translate }}
      </button>
     
    </div>
  </div>
</div>