<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let item of lstReportParam">

    <div class="card box-shadow rounded" style="border-color: {{item.color}}; box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;">
      <div class="img-miniatura">
        <img src="assets/images/miniaturas/sueño.png" />
      </div>
      <br>
      <div class="card-body text-success">
        <div class="row">

          <div class="col">
            <img class="card-img-top" [src]="item.image | noimage" />
          </div>
          <div class="col" style="padding-top: 40px;">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>{{ item.text_header }}</b></h6>
          </div>


        </div>
        <br>
        <div class="row">

        </div>
        <div class="d-grid col-8 gap-2 mx-auto">
          <button class="button" (click)="onClickVerReporte(item.id,item.idProfileReport)" type="button">
            {{'paginas.comunes.ver-reporte' | translate }}
          </button>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">
        <div class="row">

          <div (mousemove)="moveMouseReport(item)" (mouseout)="inicializarSeleccionadoReports()"
            class="d-flex flex-row-reverse" data-toggle="tooltip" data-placement="top"
            title="{{'paginas.comunes.generar-documento' | translate }}">

            <div class="p-1"> <svg (click)="onClickVerDocumento(item)" data-bs-target="#dialogVisorDocument"
                data-bs-toggle="modal" xmlns="http://www.w3.org/2000/svg" width="22px" fill="#4568F9"
                class="bi bi-cloud-download" viewBox="0 0 16 16">
                <path
                  d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                <path
                  d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
              </svg></div>
            <div class="p-1" *ngIf="item.seleccionado"> {{'paginas.comunes.descargar-documento' | translate }}</div>


          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<app-dialog [report]="report" title="{{'paginas.principal.detalle-reporte-modal' | translate }}"></app-dialog>

<div class="modal fade" id="dialogVisorDocument" tabindex="-1" aria-labelledby="dialogVisorDocumentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'paginas.comunes.visor-documento-modal' |
          translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status" *ngIf="indLoading">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status" *ngIf="indLoading">
          <span class="sr-only"></span>
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="mensaje !=''">
          {{ mensaje }}
        </div>
        <div *ngIf="url !=''">
          <app-visor-documento [pdfSrc]="url" [nameFile]="nameFile"></app-visor-documento>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "paginas.comunes.boton-cerrar" |
          translate }}</button>
      </div>
    </div>
  </div>
</div>