.text-uppercase{
    color: rgb(69, 104, 249);
}

.card{
    background-image: url('/assets/images/marcaAguaGencell.jpg');
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px 20px 20px 20px;
}

.card:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
.card-subtitle{
  font-size: 3ch;
  color: #666F88;
}

.card-title{
  color: #a3a8b7;
}

.img-miniatura{
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  position: absolute;
  top: -15px;
  left: 260px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(155 162 180 / 80%) 0px 0px 10px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border: 3px solid white;
  border-radius: 20px 20px 20px 20px;
}
.button {
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  background-color: #8707ff;
}

.button:hover {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.button:active {
  box-shadow: 2px 2px 20px #8707ff inset;
}
