body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.card-title{
    color: rgb(69, 104, 249);
}
.modal-title{
    color: rgb(69, 104, 249);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
