<div class="card text-center">
    <div class="card-body">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"  *ngIf="indLoading">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"  *ngIf="indLoading">
        <span class="sr-only"></span>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="lstRecomendations.length==0">
        {{ "paginas.recomendacion.mensaje-no-tiene-registro" | translate }}
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
          *ngFor="let itemRecomendation of lstRecomendations"
        >
          <app-cards
            titulo="{{ itemRecomendation.recommendation.sentence }}"
            subtitle="{{ itemRecomendation.recommendation.slug }}"
            descripcion=""
            [responseRecomendation]="itemRecomendation"
            (eventEmitir)="onClickDetailRecomendation($event)"
          ></app-cards>
          <app-dialog-detail-recomendation [recomendation]="recomendation"></app-dialog-detail-recomendation>
        </div>
      </div>
    </div>
  </div>

  

  
  